<h1>Add Yourself to the List!</h1>

<p>In these early stages, please be very careful as to what you enter into the City/State.  Ensure you add proper capitalization to make it easier for the software to do it's work.</p>
<hr>

<%= render 'form' %>

<%= link_to 'Back', campingtripplanningtools_path %>
