<div class="col-md-4">
	<h3>Public Events</h3>
	<hr/>
	No events scheduled.
</div>
<div class="col-md-8">
	<h3>News Feed</h3>
	<hr/>
	New website is coming online.  Please submit any bugs to Capt Obviouse or Vilyan K'Vere.
</div>
<br/>

