<div class="col-md-5">
	<strong>Capt Obviouse:</strong> Founding member of ADDGamerz<br/>
	<%= image_tag("capt.jpg", :class => "profile-picture") %>
	<br/><br/>
	<strong>Hellhound:</strong> Founding member of ADDGamerz<br/>
	<%= image_tag("vilyan.jpg", :class => "profile-picture") %>
</div>
<div class="col-md-7">
	<h3>The Beginning</h3>
	<p>ADD Gamerz started as an idea.  An idea that a few people could get together and play some video games together and share that fun that they had with others.  Our philosophy is that video games are a way for friends who live long distances apart to keep in contact with each other.  This is the code that we live by, this is the code that we die by.
	</p>
	<h3>Hellhound and Capt Obviouse</h3>
	<p>Hellhound and Capt Obvious have known each other for years.  They started playing together in middle school in Bend, Oregon in middle school.  Hellhound was introduced to Capt Obviouse's friends as a gnarly StarCraft: Brood Wars player, only to be proven in some 4v4 games in which he completely dominated.</p>
	<p>Later in life, when Hellhound failed out of college, he decided he wanted to join the army.  Capt Obviouse convinced Hellhound to join the Marine Corps instead with him and go into the Marine Corps under the buddy program.  However, since Hellhound desired to be infantry and Capt Obviouse would go on to be a Crew Chief on Hueys, the buddy program was unfriendly to them.</p>
	<p>After they both joined the Marine Corps and were seperated, they still play video games togeher and share their love with computers with each other as students of Computer Science in their respective schools.</p>
	<h3>Hellhound and Cookie</h3>
	<p>Hellhound and Cookie met in the Marine Corps.  They were both a part of 3rd Battalion, 1st Marines, Weapons Company, 81mm Mortar Platoon.  Cookie had been a part of the platoon for some time by the time Hellhound had been sent to them.  However, this did not seperate their interests from each other.  The console of choice at the time was the XBox 360 and the game of choice was Call of Duty: Black Ops.</p>
	<p>A large portion of the 3/1 81's platoon played CoD: Black Ops at the time.  They had a clan which remains to this day known as ILP in various games.  Although the clan has seperated to a certain extent, Hellhound and Cookie went on to play other games together and expand the ILP name throughout the gaming community.  Portions of the ILP community still play together, but due to real life responsibilities they have mostly seperated.</p>
	<h3>Cookie and Capt Obviouse</h3>
	<p>Cookie and Capt Obviouse were introduced to each other by Hellhound.  They started playing together during the CoD: Black Ops days and still play togeher to this day.  Although these two have never met in real life, they have become good friends through the power of online gaming.</p>

</div>