<div class="col-md-5">
	<strong>Capt Obviouse</strong>, CEO and Founder of ILP<br/><br/>
	Capt Obviouse has been playing EvE for 6 years. He has spent most of his eve career assiting the managment of corporations and alliances.
	<br/><br/>
	<%= image_tag("capt.jpg", :class => "profile-picture") %>
	<br/><br/>
	<strong>Vilyan K'Vere</strong>, Recruiting Officer<br/><br/>
	<%= image_tag("vilyan.jpg", :class => "profile-picture") %>
</div>
<div class="col-md-7">
	<h4>Mission Statement</h4>
	Interstellar Logistics Professionals is a industry, pve and mission running corporation. ILP trains and mentors young EvE pilots who want a career in pve, industry, or logistics. We will use our strong industry and logistics divisions to build our financial assets to obtain our long term goal of owning our own null sec space.
	<h4>Overview</h4>
	<ul>
		<li>Tax Rate: 10%</li>
		<li>SP Requirements: 0 - 15 Million Suggested (See notes)</li>
		<li>Location: Caldari High-Sec space.</li>
		<li>TeamSpeak 3 Server</li>
		<li>Timezone:  Ranging from 0300-0900 EVE Time.</li>
	</ul>
	We will be expanding across all time zones and will not turn members away from other time zones.
	<h4>Departments</h4>
	<ul>
		<li>Administrative</li>
		<li>Operational</li>
	</ul>
	Each department is run by a officer and is comprised of separate divisions.
	<h4>Divisions</h4>
	<ul>
		<li>Command Staff</li>
		<li>Recruiting</li>
		<li>Intelligence</li>
		<li>Logistics</li>
		<li>Operations Control</li>
		<li>PvP</li>
		<li>Missions</li>
		<li>Mining</li>
		<li>Exploration</li>
		<li>Industry</li>
	</ul>
	While each division has its place in the corporation and is a requirement for corporation success our primary objective is PvP prowess. To obtain this we need a highly trained group of individuals that can come together and form a tactically advanced fleet. None of this can be accomplished without a solid level of support from all the divisions to create an income in which the corporation can thrive.
	<h4>Income</h4>
	To keep it simple tax rate is generic across all divisions. 10% flat tax on the standard income of that department. Mission division will be automatically deducted via the corporation tax system. Mining division 10% of the ORE will be deducted for each corporation sanctioned operation. Exploration division will have all major finds on corporation supported operations sold by the division officer and dispersed among the participants evenly after a 10% corporation tax. Industry division will be charged for use of pos slots by the POS tax system in place along with donations for POS fuel. PvP Division will operate on a donation basis and corporation profits. PvP Pilots are expected to take part in other divisional operations to produce funding for the corporation.
	<h4>Incentive Pay</h4>
	Deployment Pay - If the corporation deploys in assistance with allies, or for strategic purposes all members participating in the deployment will receive a payment based on time deployed.

	Strategic Operation Pay - All members who join a STRATOP fleet will receive a payment based on op level.

	Billet Pay - Members who hold a billet and actively use it will receive a monthly salary per billet.
	<h4>Programs</h4>
	Paid Recruitment - The purpose of the paid recruitment program (PRP) is to incentive recruiting to accelerate member growth.

	Game Enjoyment - The purpose of the game enjoyment program (GEP) is to adjust corporation goals, activities and member base to ensure all members are enjoying their gaming experience as best as possible.

	Ship Replacement - The purpose of the ship replacement program (SRP) is to incentivize pvp participation through the use of standard ship fitting doctrines and pre-designed fleet composition for maximum effectiveness and ease of replacement. The program’s intent is to assist pilots with re-shipping after a loss either financially or physical replacement.

	Salvage - The purpose of the salvage program (SP) is to incentivize corporate salvaging of missions to boost income of both the pilots and the corporation.

	Mineral Buy - The purpose of the mineral buy program (MBP) is to help pay for corporate funded ships such as orca’s and freighters used in transportation of all mining operation goods while assisting members who cannot effectively haul all the minerals they mine.

	Training - The purpose of the training program (TP) is to better the members and corporation through instructor led classes on all aspects of EvE.

	Corporate Market - The purpose of the corporation market (CM) is to offer our members goods at production cost. Limited numbers of all mass corporation production will be put up for sale on the corporate market.
	<h4>Notes</h4>
	Our command philosophy is that to succeed in EvE we need to be a team. Teams are best derived from similar backgrounds, age, and personality. To keep all of our members as tight as possible we are trying to keep the skill point range low and then expand it as the members grow. Having high sp is in no way an immediate disqualification for recruitment, however having to fly in lower sp gangs can be boring for more senior players and is not suggested.




</div>