<% if user_signed_in? && (current_user.email == 'bheller2010@live.com' || current_user.email == 'sixstringjesse@gmail.com' || current_user.email == 'jamescook828@gmail.com') %>	
	<h1>Editing post</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @post %> |
	<%= link_to 'Back', posts_path %>
<% else %>
	Only admins can use this feature.
<% end %>