// Place all the styles related to the campingtripplanningtools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-container {
	width: 100%;
	height: 40vw;
	background-color: #221f20;
}