body {
	padding-top: 100px;
	background: url("addgamerz.jpg");
	background-color: #322f26;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
	color: #fffff0;
}

footer {
	padding-top: 30px;
}

select {
	color: #000000;
}

#flash-notice {
	@extend .alert;
	@extend .alert-success;
}

#flash-error, #flash-alert {
	@extend .alert;
	@extend .alert-danger;
}

#flash-warning {
	@extend .alert;
	@extend .alert-warning;
}

#content-pane {
	color: #D3D3D3;
	background-color: #332011;
}

.profile-picture {
	width: 100%;
}

.post-title {
	font-size: 24px;
}

.article {
	border-style: double;
	border-color: #221f20;
	border-radius: 5px;
	border-width: 2px;
	padding:5px;
}