body {
	padding-top: 100px;
	background-color: #1C1006;
	color: white;
}

#flash-notice {
	@extend .alert;
	@extend .alert-success;
}

#flash-error, #flash-alert {
	@extend .alert;
	@extend .alert-danger;
}

#flash-warning {
	@extend .alert;
	@extend .alert-warning;
}

#content-pane {
	color: #D3D3D3;
	background-color: #332011;
}