<footer class="footer">
	<small>
		<center>&copy 2014 eve-ilp.com<br/>
		All references to EVE online are &copy 1997-2014 EVE Online.  <a href="http://www.eveonline.com">http://www.eveonline.com</a></center>
	</small>
</footer>